@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to azure app service </h1>
    <h2>This is version  1 of the app</h2>
    <h3>This will be deployed using VS</h3>
    <h4>Connection String is :@ViewBag.ConnectionString</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
