<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fun13962.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e6f1b151-c2fe-42d3-b17d-3b2b49f21d0a/resourceGroups/Practice/providers/Microsoft.Web/sites/Fun13962</ResourceId>
    <UserName>$Fun13962</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fun13962.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>